# Python local files
venv/
__pycache__/
*.py[cod]
*$py.class
Pipfile
Pipfile.lock

# Django
db.sqlite3
.env
*/.env

# Node.js
node_modules/
dist/
.env.local

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build
build/
out/
